{% extends 'base.html.twig' %}

{% block title %}Files - Log in{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="input-group field-username mb-3 mt-6">
                <div class="input-group-prepend">
                    <span class="input-group-text text-center" style="width:48px">📧</span>

                </div>
                <input type="text" id="username" name="email" class="form-control" placeholder="E-Mail" value="" required="" autofocus="">
            </div>

            <div class="input-group field-password mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text text-center" style="width:48px">🔒</span>
                </div>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
            </div>


            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <button type="submit" class="form-control btn-light" onclick="this.form.submit();">Sign in</button>
        {% endif %}
    </form>
{% endblock %}
