{% extends 'base.html.twig' %}

{% block title %}Files - Log in{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% else %}
            <div class="form-group field-text">
                <label for="username" class="sr-only form-control-label required">UUID</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-user"></i>
                    <input type="text" id="username" name="email" class="form-control" placeholder="E-Mail" value="" required="" autofocus="">
                </div>
            </div>

            <div class="form-group field-password">
                <label for="password" class="sr-only form-control-label required">Password</label>
                <div class="form-widget form-widget-with-icon">
                    <i class="fa fa-fw fa-lock"></i>
                    <input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
                </div>
            </div>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            <div class="form-group field-button">
                <button type="submit" class="btn btn-primary btn-lg btn-block" onclick="this.form.submit();">Sign in</button>
            </div>
        {% endif %}
    </form>
{% endblock %}
