<div class="content-top">
    {% include "file_system/header.html.twig" %}
</div>
<div class="content item-wrapper">
    <div
        v-for="child in folder"
        @click.prevent.stop="console.log($event, item)"
        class="item-wrapper__item"
    >
        {% for child in folder %}
            {% include "file_system/item_card.html.twig" %}
        {% endfor %}
    </div>

    {% for child in files %}
        {% include "file_system/item_card.html.twig" %}
    {% endfor %}

    <vue-simple-context-menu
            :elementId="'myUniqueId'"
            :options="options"
            :ref="'vueSimpleContextMenu'"
            @option-clicked="optionClicked"
    />
</div>