{% extends 'base.html.twig' %}

{% block title %}Folder{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('site_view') }}
{% endblock %}

{% block body %}

    <div class="sidebar-wrapper">
        <div class="sidebar">
            <div class="brand">Files</div>
            <div class="explorer-container">
                {% import "file_system/explorer.html.twig" as explorer %}
                {{ explorer.render([explorerTree], true) }}
            </div>
        </div>
    </div>

    <div class="content-wrapper">
        <div class="target-ajax">
            {% include "file_system/view_ajax.html.twig " %}
        </div>

        {% include "file_system/footer.html.twig" %}
    </div>

{% endblock %}
